# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/
.idea/
.github/
.coverage
benchmark/
sandbox
build/build
build/dist
build/freeze.cmd
config.ini
docs/build
htmlcov/
test/server
venv/
out/
dist/

docs/update_doc.cmd
latest.log
poetry.lock
